<div class="footer-container">
  <div class="footer-wrapper">
      <div class="to-buyers">
          <p>Покупателям</p>
          <ul>
            <li><a (click)="goTo($event)">Публичная оферта</a></li>
            <li><a (click)="goTo($event)">Доставка</a></li>
            <li><a (click)="goTo($event)">Правила возврата</a></li>
            <li><a (click)="goTo($event)">Как ухаживать за цветами</a></li>
          </ul>
        </div>
    <div class="to-partners">
      <p>Партнерам</p>
      <ul>
        <li><a (click)="goTo($event)">Партнерское соглашение</a></li>
      </ul>
    </div>
    <div class="documents">
      <p>Документы</p>
      <ul>
        <li><a (click)="goTo($event)">Пользовательское соглашение</a></li>
        <li><a (click)="goTo($event)">Политика конфиденциальности</a></li>
        <li><a (click)="goTo($event)">Соглашение об обработке персональных данных</a></li>
      </ul>
    </div>
    <div class="help">
      <p>Помощь</p>
      <ul>
        <li><a (click)="goTo($event)">Часто задаваемые вопросы</a></li>
      </ul>
    </div>
    <div class="social-links">
      <p class="company-name">ИП Жарков Александр Игоревич</p>
      <p class="company-name">ИНН 631188967940</p>
      <p class="mail"><a href="mailto:info@jbandflowers.ru">info@jbandflowers.ru</a></p>
      <div class="social">
        <a href="#"><img src="assets/img/facebook.png" alt="facebook"></a>
        <a href="#"><img src="assets/img/vk.png" alt="vk"></a>
        <a href="#"><img src="assets/img/instagram.png" alt="instagram"></a>
      </div>
    </div>
  </div>
</div>
