<app-carousel-banner></app-carousel-banner>
<app-catalog></app-catalog>
<app-reviews></app-reviews>
<div class="about-container">
  <h2>О нас</h2>
  <div class="about-info">
    <div class="about-text">
      <p>J’Band Flowers - платформа, которая объединяет цветочные магазины и частных флористов Москвы в одном месте. На нашем Сайте работает команда профессионалов, которые с любовью занимаются своим делом, собирая для вас лучшие цветочные композиции!</p>
      <p class="second-line">Мы с заботой относимся к вашему удобству. Поэтому, чтобы сделать заказ на сайте, просто выберите понравившийся букет, укажите кому и когда его нужно доставить. Дальше один из наших партнеров соберет для вас букет и доставит его сам либо передаст своему надежному курьеру. Самый лучший букет уже ждет ваc!</p>
    </div>
    <div class="about-photo"><img src="assets/img/about-us.png" alt="about-us"></div>
  </div>
</div>