.favourite-container {
  display: flex;
  flex-wrap: wrap;    
  margin-top: 40px;
  .item { 
    margin: 0 20px 40px 0;
    .block-btn {
      display: flex;
      flex-direction: column;
      button:last-child { margin-top: 20px; }
    }
  }
}
.no-items {
  margin-top: 20px;
  button { margin-top: 40px; }
}
@media (max-width: 1024px) {
  .favourite-container { justify-content: space-around; }
}
@media (max-width: 800px) {
  h2 { text-align: center; }
  .favourite-container { justify-content: space-around; }
}
